<!DOCTYPE html>
<html>
  <head>
    <title>QVoto graph</title>
  </head>
  <body>
    <h1>Error accediendo a los datos de la respuesta</h1>

    <p>Lo sentimos, no hemos podido acceder a los datos del fomulario.</p>
  </body>
</html>
